<br>
<br>
<button type="button" class="btn btn-primary" (click)="openModal(template)"> Izbriši promociju</button>
<br><br>
<ng-template #template>
    <div class="modal-body text-center">
        <br>
        <p>Da li želite da izbrišete ovaj događaj? </p><br>
        <button type="button" class="btn btn-default" (click)=' onIzbrisikc(); confirm()' routerLink='/klub-citalaca'>
            Da
        </button>
        <button type="button" class="btn btn-default" (click)='decline()'> Ne </button>

    </div>
</ng-template>
<div class="panel panel-success">
    <div class="panel-body">
        <div class="container" *ngIf="klubc.length > 0">
            <div class="row">
                <div class="col-md-12">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-4">
                                <img [src]="klub['slika']" style="width:282px; height:386px;">
                                <br> <br> <br>
                                <div class="col-sm-8">
                                    <div class="panel panel-success">
                                        <div class="panel-body">
                                            <h4><b> Datum prikazivanja:</b></h4>
                                            <p>{{klub['datum'] | date:format2 }}</p>
                                            <h4><b> Vreme prikazivanja: </b></h4>
                                            <p>{{klub['myTime'] | date: format1 }}h</p>
                                            <h4><b> Lokacija: </b></h4>
                                            <p>{{klub['lokacija']}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <h2><b>{{klub["naziv"]}} </b></h2><br>
                                <div class="row">
                                    <div class="panel panel-default">
                                        <div class="panel-body" id="opisid">
                                            <p>{{klub["opisId"]}}</p>
                                        </div>
                                    </div><br>
                                    <div class="your-centered-div">
                                        <iframe [src]="safeURL(klub['trejler'])" width="600" height="350" frameborder="0"
                                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen></iframe> <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>