<div class="container">
         <br> 
           <div class="row">
            <div class="col-md-4">
              <div class="thumbnail">
                <a routerLink="/bioskop" routerLinkActive="active">
                  <img src="assets/img/bioskop2.jpg" alt="Bioskop" style="max-height: 200px">
                  <div class="caption">
                    <h3><p class="text-center">Bioskop</p></h3>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="thumbnail">
                <a routerLink="/pozoriste" routerLinkActive="active">
                  <img src="assets/img/pozoriste2.jpg" alt="Pozorište" style="max-height: 200px">
                  <div class="caption">
                      <h3><p class="text-center">Pozorište</p></h3>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <div class="thumbnail">
                <a routerLink="/izleti" routerLinkActive="active">
                  <img src="assets/img/izleti1.jpg" alt="Izleti" style="max-height: 200px">
                  <div class="caption">
                      <h3><p class="text-center">Izleti</p></h3>
                  </div>
                </a>
              </div>
            </div>
            <br>
            <div class="col-md-4">
                <div class="thumbnail">
                  <a routerLink="/izlozbe" routerLinkActive="active">
                    <img src="assets/img/izlozba1.jpg" alt="Izložbe" style="max-height: 200px">
                    <div class="caption">
                        <h3><p class="text-center">Izložbe</p></h3>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="thumbnail">
                  <a routerLink="/nightlife" routerLinkActive="active">
                    <img src="assets/img/nightlife1.jpg" alt="Izlasci" style="max-height: 200px">
                    <div class="caption">
                        <h3><p class="text-center">Izlasci</p></h3>
                    </div>
                  </a>
                </div>
              </div>
              <div class="col-md-4">
                <div class="thumbnail">
                  <a routerLink="/klub-citalaca" routerLinkActive="active">
                    <img src="assets/img/klub-citalaca2.jpg" alt="Klub čitalaca" style="max-height: 200px">
                    <div class="caption">
                      <h3><p class="text-center">Klub čitalaca</p></h3>
                    </div>
                  </a>
                </div>
              </div>
          </div>
</div>



