<br><br>
<div class="col-md-12">
  <a routerLink="/postizleti" routerLinkActive="active">
    <button class="btn btn-primary"> Dodaj izlet </button>
  </a>
</div>
<br><br><br><br>
<div class="panel panel-success"><br><br>
  <div class="panel-body">
    <div class="container" *ngFor="let izlet of izleti">
      <div class="row">
        <div class="col-md-4">
          <img class="img-fluid rounded mb-3 mb-md-0" 
          [src]="izlet['slika']" 
          routerLink="/izletiid/{{izlet['idizleti']}}"
          style="height:182px; width:286px;">
        </div>
        <div class="col-md-6">
          <div class="panel panel-success">
            <div class="panel-body">
              <h3>{{izlet['naziv']}}</h3>
              <p>
                  Datum: {{izlet['datum'] | date:format2 }} <br>
                  Vreme: {{izlet['myTime'] | date: format1 }}
              </p>
              <p>{{izlet['opis']}}</p>
            </div>
          </div>
          <a class="btn btn-primary" 
          routerLink="/izletiid/{{izlet['idizleti']}}"
          >Pogledaj</a>
        </div>
      </div>
      <hr>
    </div>
  </div>
</div>