<br>
<br>
<button type="button" class="btn btn-primary" (click)="openModal(template)"> Izbriši izlet </button>
<br><br>
<ng-template #template>
    <div class="modal-body text-center">
        <br>
        <p>Da li želite da izbrišete ovaj događaj? </p><br>
        <button type="button" class="btn btn-default" (click)='onIzbrisii(); confirm()' routerLink='/izleti'> Da
        </button>
        <button type="button" class="btn btn-default" (click)='decline()'> Ne </button>
    </div>
</ng-template>

<div class="panel panel-success">
    <div class="panel-body">
        <div class="container" *ngIf="izleti.length > 0">
            <div class="row">
                <div class="col-md-12">
                    <div class="container">
                        <div class="row">
                            <div class="row">
                                <div class="col-sm-4"><br>
                                    <img [src]="izlet['slika']" style="width:356px; height:282px;">
                                    <br><br><br>
                                    <div class="col-sm-8">
                                        <div class="panel panel-success">
                                            <div class="panel-body">
                                                <h4><b> Datum realizacije izleta:</b></h4>
                                                <p>{{izlet['datum'] | date:format2 }}</p>
                                                <h4><b> Vreme realizacije izleta: </b></h4>
                                                <p>{{izlet['myTime'] | date: format1 }}h</p>
                                                <h4><b>Polazak iz: </b></h4>
                                                <p>{{izlet['lokacija']}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <h2>
                                        <p><b>{{izlet["naziv"]}}</b> </p>
                                    </h2> <br>
                                    <div class="row">
                                        <div class="panel panel-default">
                                            <div class="panel-body" id="opisid">
                                                <p>{{izlet["opisId"]}}</p>
                                            </div>
                                        </div><br>
                                        <div class="your-centered-div">
                                            <iframe [src]="safeURL(izlet['trejler'])" width="600px;" height="350px;"
                                                frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                                allowfullscreen></iframe><br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <h3>Filmovi</h3>
<br>
<ul>
    <li *ngFor="let film of filmovi">
        {{ film['idfilmovi'] }}
        {{ film['naziv'] }}
        {{ film['opis'] }}

    </li></ul> -->