<br><br>
<div class="btn-group-horizontal">

<button type="button" class="btn btn-default" routerLinkActive="active" routerLink="postfilmovi">Filmovi</button>
<button type="button" class="btn btn-default" routerLinkActive="active" routerLink="postpozoriste">Pozorište</button>
<button type="button" class="btn btn-default" routerLinkActive="active" routerLink="postizleti">Izleti</button>
<button type="button" class="btn btn-default" routerLinkActive="active" routerLink="postizlozba">Izložbe</button>
<button type="button" class="btn btn-default" routerLinkActive="active" routerLink="postnl">Izlasci</button>
<button type="button" class="btn btn-default" routerLinkActive="active" routerLink="postklubc">Klub čitalaca</button>

</div>
<br><br>
<br>

<router-outlet></router-outlet>