<br><br>
<div class="col-md-12">
  <a routerLink="/postizlozba" routerLinkActive="active">
    <button class="btn btn-primary"> Dodaj izložbu</button>
  </a>
</div>
<br><br><br><br>

<div class="panel panel-success"><br><br>
  <div class="panel-body">
    <div class="container" *ngFor="let izlozba of izlozbe">
      <div class="row">
        <div class="col-md-4">
          <img class="img-fluid rounded mb-3 mb-md-0" 
          [src]="izlozba['slika']" 
          routerLink="/izlozba/{{izlozba['idizlozbe']}}"
          style="height:182px; width:286px;">
        </div>
        <div class="col-md-8">
          <div class="panel panel-success">
            <div class="panel-body">
              <h3>{{izlozba['naziv']}}</h3>
              <p>
                  Datum: {{izlozba['datum'] | date:format2 }} <br>
                  Vreme: {{izlozba['myTime'] | date: format1 }}
              </p>
              <p>{{izlozba['opis']}}</p>
            </div>
          </div> <br><br>
          <a class="btn btn-primary" routerLink="/izlozba/{{izlozba['idizlozbe']}}">Pogledaj</a>
        </div>
      </div>
      <hr>
    </div>
  </div>
</div>