<br>
<!-- <section class="mbr-section mbr-parallax-background" id="form1-2h" style="background-image: none; padding-top: 120px; padding-bottom: 120px; position: relative; background-attachment: scroll; background-size: auto;"
  data-jarallax-original-styles="background-image: padding-top: 120px; padding-bottom: 120px; position: relative;">
  <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(239, 239, 239);">
  </div> -->
<div class="col-md-12">
  <a routerLink="/postklubc" routerLinkActive="active">
    <button class="btn btn-primary"> Dodaj promociju</button> </a>
</div> <br><br>

<div class="panel panel-success"><br><br>
  <div class="panel-body">
    <div class="container" *ngFor="let klub of klubc">

      <div class="row">
        <div class="col-md-4">
          <img class="img-fluid rounded mb-3 mb-md-0 " 
          [src]="klub['slika']" 
          routerLink="/klubcid/{{klub['idklubc']}}"
          style="height:286px; width:182px;">
        </div>
        <div class="col-md-6">

          <div class="panel panel-success">
            <div class="panel-body">
              <h3>{{klub['naziv']}}</h3>
              <p>
                  Datum: {{klub['datum'] | date:format2 }} <br>
                  Vreme: {{klub['myTime'] | date: format1 }}
              </p>
              <p>{{klub['opis']}}</p>
            </div>
          </div> <br><br>
          <a class="btn btn-primary" 
          routerLink="/klubcid/{{klub['idklubc']}}"
          >Pogledaj</a>
        </div>
      </div>
      <hr>
      <!-- <div id="jarallax-container-6" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -100;">
          <div style="background-position: 50% 50%; background-size: 100%; background-repeat: no-repeat; background-image: url(assets/img/background.jpg); filter:blur(2px); position: fixed; top: 0px; left: 0px; width: 1552px; height: 789px; overflow: hidden; pointer-events: none; margin-left: 0px; margin-top: -15px; visibility: visible; transform: translate3d(0px, -25.3594px, 0px);">
          </div>
        </div> -->
    </div>
  </div>
</div>