<!-- <nav class="navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
          <br>
      <p>footer</p>
      <br><br><br>
    </div>
  </div>
</nav> -->

<nav class="navbar">
    <div class="container">
        <hr>
        <p class="text-center"> Maja Ljubić &copy; 2019</p>
    </div>
</nav>



<!-- <section class="mbr-section mbr-section-md-padding mbr-footer footer1" id="contacts1-2m" style="background-color: rgb(239, 239, 239); padding-top: 90px; padding-bottom: 90px;">
    
  <div class="container">
      <div class="row">
          <div class="mbr-footer-content col-xs-12 col-md-3">
              <div><span class="mbri-hearth mbr-iconfont mbr-iconfont-contacts1" style="color: rgb(193, 193, 193);"></span></div>
          </div>
          <div class="mbr-footer-content col-xs-12 col-md-3">
              <p><strong>Address</strong><br>
1234 Street Name<br>
City, AA 99999</p>
          </div>
          <div class="mbr-footer-content col-xs-12 col-md-3">
              <p><strong>Contacts</strong><br>
Email: <a href="" class="__cf_email__" data-cfemail="65161015150a171125080a070c170c16004b060a08">[email&#160;protected]</a><br>
Phone<br>
Fax: +1 (0) 000 0000 002</p>
          </div>
          <div class="mbr-footer-content col-xs-12 col-md-3">
              <p><strong>Links</strong><br>
<a class="text-black" href="">Website builder</a><br>
<a class="text-black" href="">Download for Windows</a><br>
<a class="text-black" href="">Download for Mac</a></p>
          </div>

      </div>
  </div>
</section> -->