<br>
<div class="container">
  <div class="row">
    <div class="col-xs-12"></div>
  
<div class="form-group">
  <label for="usr">Ime:</label>
  <input 
  type="text" 
  #serverName
  class="form-control" 
  id="usr"
  [(ngModel)]="ime">
</div>
<div class="form-group">
  <label for="usr">Prezime:</label>
  <input 
  type="text" 
  class="form-control" 
  id="usr1"
  [(ngModel)]="prezime">
</div>
<div class="form-group">
  <label for="email">Email:</label>
  <input 
  type="email" 
  class="form-control" 
  id="email"
  [(ngModel)]="email">
</div>
<div class="form-group">
  <label for="pwd">Password:</label>
  <input 
  type="password" 
  class="form-control" 
  id="pwd"
  [(ngModel)]="password">
</div>
<button 
type="button" 
class="btn btn-primary"
(click)="OnSacuvaj(ime.value, prezime.value, email.value, password.value)"
> Sacuvaj </button>
<br><br>
<button class="btn btn-primary" (click)="onSacuvajK">Sačuvaj korisnike</button>
<hr>
<ul class="list-group" *ngFor="let korisnik of korisnici">
  <li class="list-group-item">{{ korisnik.ime }} {{ korisnik.prezime }} {{ korisnik.email }} {{ korisnik.password }}(ID: {{ korisnik.id }}) </li>
</ul>
</div>
</div>