<section 
class="mbr-section mbr-parallax-background" 
id="form1-2h" 
style="background-image: none; padding-top: 120px; padding-bottom: 120px; position: relative; background-attachment: scroll; background-size: auto;"
data-jarallax-original-styles="background-image: url(&quot;assets/images/d5salkdogb4-stefan-widua.jpg&quot;); padding-top: 120px; padding-bottom: 120px; position: relative;">
  <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(239, 239, 239);">
  </div>
  <div class="mbr-section mbr-section__container mbr-section__container--middle">
      <div class="container">
          <div class="row">
              <div class="col-xs-12 text-xs-center">
                  <h3 class="mbr-section-title display-2">CONTACT FORM</h3>
                  <small class="mbr-section-subtitle">Shape your future web project with sharp design and refine coded functions.</small>
              </div>
          </div>
      </div>
  </div>
  <div class="mbr-section mbr-section-nopadding">
      <div class="container">
          <div class="row">
              <div class="col-xs-12 col-lg-10 col-lg-offset-1" data-form-type="formoid">


                  <div data-form-alert="true">
                      <div hidden="" data-form-alert-success="true" class="alert alert-form alert-success text-xs-center">Thanks for filling out form!</div>
                  </div>


                  <form action="https://mobirise.com/" method="post" data-form-title="CONTACT FORM">

                      <input type="hidden" value="oREOq6MGQE87nW/6twLmvqfp2XuG4tz2zg+0LmOGGUZRpIU6TKnr1FFEuxOFksfREhl/TS9OrJjo/Y+U++thSxG6/IpKDGxqRJUS/nLXU7S6pEWcg6n8SvoCFefCOcuA" data-form-email="true" class="hidden animated">

                      <div class="row row-sm-offset">

                          <div class="col-xs-12 col-md-4">
                              <div class="form-group">
                                  <label class="form-control-label" for="form1-2h-name">Name<span class="form-asterisk">*</span></label>
                                  <input type="text" class="form-control" name="name" required="" data-form-field="Name" id="form1-2h-name">
                              </div>
                          </div>

                          <div class="col-xs-12 col-md-4">
                              <div class="form-group">
                                  <label class="form-control-label" for="form1-2h-email">Email<span class="form-asterisk">*</span></label>
                                  <input type="email" class="form-control" name="email" required="" data-form-field="Email" id="form1-2h-email">
                              </div>
                          </div>

                          <div class="col-xs-12 col-md-4">
                              <div class="form-group">
                                  <label class="form-control-label" for="form1-2h-phone">Phone</label>
                                  <input type="tel" class="form-control" name="phone" data-form-field="Phone" id="form1-2h-phone">
                              </div>
                          </div>

                      </div>

                      <div class="form-group">
                          <label class="form-control-label" for="form1-2h-message">Message</label>
                          <textarea class="form-control" name="message" rows="7" data-form-field="Message" id="form1-2h-message"></textarea>
                      </div>

                      <div><button type="submit" class="btn btn-black"><span class="btn-text">CONTACT US</span><i class="btn-loader"></i></button></div>

                  </form>
              </div>
          </div>
      </div>
  </div>
<div id="jarallax-container-6" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -100;"><div style="background-position: 50% 50%; background-size: 100%; background-repeat: no-repeat; background-image: url(assets/img/d5salkdogb4-widua.jpg); filter:blur(2px); position: fixed; top: 0px; left: 0px; width: 1552px; height: 789px; overflow: hidden; pointer-events: none; margin-left: 0px; margin-top: -15px; visibility: visible; transform: translate3d(0px, -25.3594px, 0px);"></div></div></section>