/* mbr-section mbr-parallax-background {
    opacity: 0.1;
    background-color: rgb(239, 239, 239);
    background-image: url(/assets/img/d5salkdogb4-widua.jpg);
    filter: blur(18px);
    -webkit-filter: blur(18px);
    background-attachment: scroll;
    background-size: fullscreen;
}
section{
    display: block;
}
body, h6 {
    font-size: 1rem;
    font-size: 17px;
}
.container::after {
    display: table;
    clear: both;
}
.container-fluid::after, .container::after, .dropdown-toggle::after, .row::after {
    content: "";
}
.mbr-overlay ~ * {
    z-index: 2;
}
.mbr-section__container--middle {
    padding-top: 0;
    padding-bottom: 40px;
}

.container {
    max-width: 940px;
}

.text-xs-center {
    text-align: center!important;
}
.mbr-overlay ~ * {
    z-index: 2;
}


* {
    box-sizing: inherit;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
:after,
:before {
    box-sizing: border-box;
}

 */
 .mbr-section__container--middle {
    padding-top: 0;
    padding-bottom: 40px;
}
.text-xs-center {
    text-align: center!important;
}