<br><br>
<div class="col-md-12">
    <a routerLink="/postfilmovi" routerLinkActive="active">
    <button class="btn btn-primary"> Dodaj film </button>
    </a>
    <br><br><br>
</div><br><br>
<div class="panel panel-success"><br><br>
    <div class="panel-body">
        <div class="container" *ngFor="let film of filmovi">
            <div class="row">
                <div class="col-md-4">
                    <img 
                    class="img-fluid rounded mb-3 mb-md-0" 
                    [src]="film['slika']" routerLink="/filmovi/{{film['idfilmovi']}}"
                    style="height:286px; width:182px;">
                </div>
                <div class="col-md-6">
                    <div class="panel panel-success">
                        <div class="panel-body">
                            <h3>{{film['naziv']}}</h3>
                            <p>
                                Datum: {{film['datum'] | date:format2 }} <br>
                                Vreme: {{film['myTime'] | date: format1 }}
                            </p>
                            <p>{{film['opis']}}</p>
                        </div>
                    </div>
                    <a class="btn btn-primary" routerLink="/filmovi/{{film['idfilmovi']}}">Pogledaj</a>
                </div>
            </div>
            <div class="col-md-10">
                <hr>
            </div>
        </div>
    </div>
</div>
