<br><br>
<div class="col-md-12">
  <a routerLink="/postnl" routerLinkActive="active">
    <button class="btn btn-primary"> Dodaj događaj</button> </a> <br><br><br>
</div>

<br><br>
<div class="panel panel-success"><br><br>
  <div class="panel-body">
    <div class="container" *ngFor="let nl of nightlife">

      <div class="row">
        <div class="col-md-4">
          <img class="img-fluid rounded mb-3 mb-md-0" 
          [src]="nl['slika']" routerLink="/nlid/{{nl['idnl']}}" 
          style="height:286px; width:182px;">
        </div>
        <div class="col-md-6">
          <div class="panel panel-success">
            <div class="panel-body">
              <h3>{{nl['naziv']}}</h3>
              <p>
                  Datum: {{nl['datum'] | date:format2 }} <br>
                  Vreme: {{nl['myTime'] | date: format1 }}
              </p>
              <p>{{nl['opis']}}</p>
              <a class="btn btn-primary"
              centered-right
               routerLink="/nlid/{{nl['idnl']}}">Pogledaj</a>
            </div>
          </div>
          
        </div>
      </div><hr>
    </div>
  </div>
</div>