<button type="button" class="btn btn-primary" routerLink="/klub-citalaca">Nazad</button><br><br>

<br>
<div class="container">
  <div class="row">
    <div class="col-xs-12"></div>

    <div class="form-group">
      <label for="text">Naziv događaja:</label>
      <input type="text" class="form-control" id="usr" [(ngModel)]="naziv">
    </div>

    <div class="form-group">
      <label for="text">Opis (ukratko):</label>
      <input type="text" class="form-control" id="usr1" [(ngModel)]="opis">
    </div>

    <div class="form-group">
      <label for="text">Slika: </label>
      <input type="text" class="form-control" id="slika" [(ngModel)]="slika">
    </div>
    <div class="form-group">
        <label for="text">Lokacija: </label>
        <input type="text" class="form-control" id="lokacija" [(ngModel)]="lokacija">
      </div>

    <div class="form-group">
      <label for="text">Trailer: </label>
      <input type="text" class="form-control" id="datum" [(ngModel)]="trejler">
    </div>

    <div class="form-group">
      <label for="text">Opis (opširno): </label>
      <input type="datum" class="form-control" id="datum" [(ngModel)]="opisId">
    </div>

    <div class="row">
      <div class="col-md-12">
        <label for="text">Datum: </label>

        <div class="form-group">
          <div class="input-group date" id="datetimepicker1">

            <angular2-date-picker [(ngModel)]="vreme" [settings]="settings" name="angular-calendar" ngDefaultControl></angular2-date-picker>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
        <div class="col-md-2">
          <label for="text">Vreme: </label>
          <div class="form-group">
            <div class="input-group date" id="datetimepicker1">
              <timepicker [(ngModel)]="myTime" [showMeridian]="isMeridian" [showSpinners]="showSpinners"></timepicker>
            </div>
          </div>
        </div>
      </div>
    <br>

    <button type="button" class="btn btn-primary" (click)="OnSacuvaj(); openModal(template)">Sačuvaj</button>
    <br><br>
    <ng-template #template>
      <div class="modal-body text-center">
        <br>
        <p>Uspešno ste sačuvali u bazu!</p><br>
        <button type="button" class="btn btn-default" (click)="confirm()"> Ok </button>
      </div>
    </ng-template>
  </div>
</div>