<br>
<br>
<button type="button" class="btn btn-primary" (click)="openModal(template)"> Izbriši film</button>
<br><br>
<ng-template #template>
    <div class="modal-body text-center">
        <br>
        <p>Da li želite da izbrišete ovaj događaj? </p><br>
        <button type="button" class="btn btn-default" (click)='onIzbrisif(); confirm()' routerLink='/bioskop'> Da
        </button>
        <button type="button" class="btn btn-default" (click)='decline()'> Ne </button>
    </div>
</ng-template>

<div class="panel panel-success">
    <div class="panel-body">
        <div class="container" *ngIf="filmovi.length > 0">
            <div class="row">
                <div class="col-md-12">
                    <div class="container">
                        <div class="row">
                            <div class="row">
                                <div class="col-sm-4"> <br>
                                    <img [src]="film['slika']" style="width:282px; height:386px;">
                                    <br> <br> <br>
                                    <div class="col-sm-8">
                                        <div class="panel panel-success">
                                            <div class="panel-body">
                                                <h4><b> Datum prikazivanja:</b></h4>
                                                <p>{{film['datum'] | date:format2 }}</p>
                                                <h4><b> Vreme prikazivanja: </b></h4>
                                                <p>{{film['myTime'] | date: format1 }}h</p>
                                                <h4><b> Lokacija: </b></h4>
                                                <p>{{film['lokacija']}}</p>

                                            </div>
                                        </div>
                                        <button class="btn btn-default btn-block"><a href="{{film['imdb']}}" target="_blank">
                                                Pogledaj IMDb</a></button> <br>
                                        <button class="btn btn-default btn-block"><a href="{{film['kritika']}}" target="_blank">
                                                Pogledaj kritiku</a></button>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h2><b>{{film["naziv"]}}</b></h2> <br>
                                    <p> ({{film['zanr']}})</p> <br>
                                    <div class="row">
                                        <div class="panel panel-default">
                                            <div class="panel-body" id="opisid">
                                                <p>{{film["opisId"]}}</p>
                                            </div>
                                        </div><br>
                                        <div class="your-centered-div">
                                            <iframe [src]="safeURL(film['trejler'])" frameborder="0" loadpolicy=3
                                                iv_load_policy=3; style="width: 600px; height: 350px;">
                                                <a class="youtube cboxElement" id="playTrailer">
                                                    <span class="btn-play-trailer"></span>
                                                </a>
                                            </iframe>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- <div class="your-centered-div">
    <iframe 
    [src]="safeURL(film['trejler'])" 
    width="560" 
    height="315"  
    frameborder="0"
     allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
     allowfullscreen></iframe><br>
</div> -->
                </div>
            </div>
        </div>
    </div>
</div>