<br>
<br>
<button type="button" class="btn btn-primary" (click)="openModal(template)"> Izbriši događaj </button>
<br><br>
<ng-template #template>
    <div class="modal-body text-center">
        <br>
        <p>Da li želite da izbrišete ovaj događaj? </p><br>
        <button type="button" class="btn btn-default" (click)='onIzbrisinl(); confirm()' routerLink='/nightlife'> Da
        </button>
        <button type="button" class="btn btn-default" (click)='decline()'> Ne </button>

    </div>
</ng-template>
<div class="panel panel-success">
    <div class="panel-body">
        <div class="container" *ngIf="nightlife.length > 0">
            <div class="row">
                <div class="col-md-12">
                    <div class="container">
                        <div class="row">
                            <div class="row">
                                <div class="col-sm-4"> <br>
                                    <img [src]="nl['slika']" style="width:282px; height:356px;">

                                    <br><br><br>
                                    <div class="col-sm-8">
                                        <div class="panel panel-success">
                                            <div class="panel-body">
                                                <h4><b> Datum:</b></h4>
                                                <p>{{nl['datum'] | date:format2 }}</p>
                                                <h4><b> Vreme: </b></h4>
                                                <p>{{nl['myTime'] | date: format1 }}h</p>
                                                <h4><b> Mesto održavanja: </b></h4>
                                                <p>{{nl['lokacija']}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h2><b>{{nl["naziv"]}}</b></h2><br>
                                    <div class="row">
                                        <div class="panel panel-default">
                                            <div class="panel-body" id="opisid">
                                                <p>{{nl["opisId"]}}</p>
                                            </div>
                                        </div><br><br><br><br><br>
                                        <div class="your-centered-div">
                                            <iframe [src]="safeURL(nl['trejler'])" frameborder="0" loadpolicy=3
                                                iv_load_policy=3; style="width: 600px; height: 350px;">
                                                <a class="youtube cboxElement" id="playTrailer">
                                                    <span class="btn-play-trailer"></span>
                                                </a>
                                            </iframe>
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>