<br><br>
<div class="col-md-12">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="selects-container">
                    <div class="col-md-4">
                        <p>Izaberi događaj:</p>
                        <select name="dogadjaj" [(ngModel)]="dog">
                            <option value="sve" selected="selected">Sve</option>
                            <option value="filmovi">Filmovi</option>
                            <option value="pozoriste">Pozorište</option>
                            <option value="izleti">Izleti</option>
                            <option value="izlozbe">Izložbe</option>
                            <option value="nightlife">Nightlife</option>
                            <option value="klubc">Klub čitalaca</option>
                        </select>

                        <br><br>
                        <angular2-date-picker [(ngModel)]="date1" [settings]="settings" name="angular-calendar"
                            ngDefaultControl></angular2-date-picker>
                        <angular2-date-picker [(ngModel)]="date2" [settings]="settings" name="angular-calendar"
                            ngDefaultControl></angular2-date-picker>

                        <br><br>
                        <br><br>
                        <button type="submit" (click)="submit()"> Pretraži </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <br><br><br><br><br><br><br><br><br><br><br>
    <div class="col-md-8">
        <div class="list-group">
            <h3>Filmovi</h3><br>
            <a *ngFor="let film of filmovi" routerLink="/filmovi/{{film['idfilmovi']}}" class="list-group-item">
                <p>{{film['naziv']}} <span class="pull-right">{{film['datum'] | date:format}}</span> </p>
            </a>
            <hr>
            <h3>Pozorište</h3><br>
            <a *ngFor="let pozorista of pozoriste" routerLink="/pozoristeid/{{pozorista['idpozoriste']}}" class="list-group-item">
                <p>{{pozorista['naziv']}} <span class="pull-right">{{pozorista['datum'] | date:format}}</span></p>
            </a>
            <hr>
            <h3>Izleti</h3><br>
            <a *ngFor="let izlet of izleti" routerLink="/izletiid/{{izlet['idizleti']}}" class="list-group-item">
                <p>{{izlet['naziv']}} <span class="pull-right">{{izlet['datum'] | date:format}}</span></p>
            </a>
            <hr>
            <h3>Izložbe</h3><br>
            <a *ngFor="let izlozba of izlozbe" routerLink="/izlozba/{{izlozba['idizlozbe']}}" class="list-group-item">
                <p>{{izlozba['naziv']}} <span class="pull-right">{{izlozba['datum'] | date:format}}</span></p>
            </a>
            <hr>
            <h3>Izlasci</h3><br>
            <a *ngFor="let nl of nightlife" routerLink="/nlid/{{nl['idnl']}}" class="list-group-item">
                <p>{{nl['naziv']}} <span class="pull-right">{{nl['datum'] | date:format}}</span></p>
            </a>
            <hr>
            <h3>Klub čitalaca</h3><br>
            <a *ngFor="let klub of klubc" routerLink="/klubcid/{{klub['idklubc']}}" class="list-group-item">
                <p>{{klub['naziv']}} <span class="pull-right">{{klub['datum'] | date:format}}</span></p>
            </a>
            <hr>

        </div>
    </div>
</div>