<nav class="navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a
      routerLink="" 
      routerLinkActive="active" 
      [routerLinkActiveOptions]="{exact: true}"
      class="navbar-brand">Aranđelovac</a>
    </div>

  <div class="collapse navbar-collapse" >
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="unos-dogadjaja"> Unos događaja </a></li>
      <li routerLinkActive="active"><a routerLink="pretraga-dogadjaja"> Pretraga Događaja </a></li>
<!--       <li routerLinkActive="active"><a routerLink="kontakt"> Kontakt </a></li>
 -->
    </ul>
      <!-- <ul class="nav navbar-nav navbar-right">
        <li routerLinkActive="active"><a routerLink="login" ><span class="glyphicon glyphicon-log-in"></span> Login</a></li>  
        <li routerLinkActive="active"><a routerLink="logout" ><span class="glyphicon glyphicon-log-in"></span>Logout</a></li>  
        <li routerLinkActive="active"><a routerLink="registracija" ><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      </ul> -->
    </div>
  </div>
</nav>
<br>