<br><br>

<div class="col-md-12">
  <a routerLink="/postpozoriste" routerLinkActive="active">
    <button class="btn btn-primary"> Dodaj predstavu </button> </a>
</div>

<br><br><br><br>
<div class="panel panel-success"><br><br>
  <div class="panel-body">
    <div class="container" *ngFor="let pozorista of pozoriste">

      <div class="row">
        <div class="col-md-4">
          <img class="img-fluid rounded mb-3 mb-md-0" [src]="pozorista['slika']" routerLink="/pozoristeid/{{pozorista['idpozoriste']}}"
            style="height:286px; width:182px;">
        </div>
        <div class="col-md-6">
          <div class="panel panel-success">
            <div class="panel-body">
              <h3>{{pozorista['naziv']}}</h3>
              <p>
                  Datum: {{pozorista['datum'] | date:format2 }} <br>
                  Vreme: {{pozorista['myTime'] | date: format1 }}
              </p>
              <p>{{pozorista['opis']}}</p>
            </div>
          </div> <br><br>
          <a class="btn btn-primary" routerLink="/pozoristeid/{{pozorista['idpozoriste']}}">Pogledaj</a>
        </div>
      </div>
      <hr>
    </div>
  </div>
</div>