<br>
<br>
<button type="button" class="btn btn-primary" (click)="openModal(template)"> Izbriši izložbu </button>
<br><br>
<ng-template #template>
    <div class="modal-body text-center">
        <br>
        <p>Da li želite da izbrišete ovaj događaj? </p><br>
        <button type="button" class="btn btn-default" (click)='onIzbrisiizb(); confirm()' routerLink='/izlozbe'> Da
        </button>
        <button type="button" class="btn btn-default" (click)='decline()'> Ne </button>

    </div>
</ng-template>
<div class="panel panel-success">
    <div class="panel-body">
        <div class="container" *ngIf="izlozbe.length > 0">
            <div class="row">
                <div class="col-md-12">
                    <div class="container">
                        <div class="row">
                            <div class="row">
                                <div class="col-sm-4"><br>
                                    <img [src]="izlozba['slika']" style="width:356px; height:282px;">
                                    <br><br><br>
                                    <div class="col-sm-8">
                                        <div class="panel panel-success">
                                            <div class="panel-body">
                                                <h4><b> Datum prikazivanja:</b></h4>
                                                <p>{{izlozba['datum'] | date:format2 }}</p>
                                                <h4><b> Vreme prikazivanja: </b></h4>
                                                <p>{{izlozba['myTime'] | date: format1 }}h</p>
                                                <h4><b> Lokacija: </b></h4>
                                                <p>{{izlozba['lokacija']}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <h2><b> {{izlozba["naziv"]}} </b></h2><br>
                                    <div class="row">
                                        <div class="panel panel-default">
                                            <div class="panel-body" id="opisid">
                                                <p>{{izlozba["opisId"]}}</p>
                                            </div>
                                        </div><br>

                                        <carousel>
                                            <slide>
                                                <div class="text-center py-5 bg-dark text-white">
                                                    <div class="lead">
                                                        <img [src]="izlozba['slika1']" style="width:600px; height:350px;">
                                                    </div>
                                                </div>
                                            </slide>
                                            <slide>
                                                <div class="text-center py-5 bg-dark text-white">
                                                    <div class="lead">
                                                        <img [src]="izlozba['slika2']" style="width:600px; height:350px;">
                                                    </div>
                                                </div>
                                            </slide>
                                            <slide>
                                                <div class="text-center py-5 bg-dark text-white">
                                                    <div class="lead">
                                                        <img [src]="izlozba['slika3']" style="width:600px; height:350px;">
                                                    </div>
                                                </div>
                                            </slide>
                                        </carousel>
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>